@using HealthRec.Common
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterViewModel

@{
    Layout = "_AuthLayout";
}

<p class="text-center">@T.RegisterTitle</p>
<form asp-action="Register" method="post">
    <div class="mb-3">
        <label asp-for="Email" class="form-label">@T.EmailTitle</label>
        <input asp-for="Email"
               class="form-control"
               aria-describedby="emailHelp"
               placeholder="@T.EmailPlaceholder">
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div class="mb-4">
        <label asp-for="Password">@T.PasswordTitle</label>
        <input type="password"
               asp-for="Password"
               class="form-control"
               placeholder="@T.PasswordPlaceholder">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div class="mb-4">
        <label asp-for="ConfirmPassword">@T.ConfirmPasswordTitle</label>
        <input type="password"
               class="form-control"
               asp-for="ConfirmPassword"
               placeholder="@T.ConfirmPasswordPlaceholder">
        <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2" href=@Url.Action("Login")>@T.RegisterButtonText</button>
</form>